h2
{
    margin:40px 0px 0px 35px;
   size: 40px;
}
.input
{
    height:20px; width:20px;
    margin-top: 5px;
    cursor:pointer;
}
h1
{
    margin:20px 0px 0px 40px ;
   font-size: 25px;
}